body{
    margin: 0;
    width:auto;
}
.top{
    display: block;
    overflow: auto;
    position: relative;
    min-height: 15px;
    background-color: #170300;  
}
.q{   
    display: flex;
    justify-content: space-between;
    width:400px;
margin-left: 100px;

}
#f1{
    color:#C0C0C0;
    font-size: 8px;
    
}
#f11{
    color:#FFFFFF;
    font-size: 8px;
    font-weight:bold;
}
#one1{
    min-height: 30px;
    background-image:linear-gradient(to right,#DB6F74 ,#F9CF48 ,#DB6F74);
}
#one2{
    min-height: 30px;
    background-image:linear-gradient(to right,#CC3028,#F9CF48,#CC3028);
}
.one{

}
.two{
    min-height: 23px;
    background-color: #8B0D02;
    box-shadow: 0 5px 5px #4A4944;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#f2{
    color:#F2E5E3;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    
}
.three{
    min-height: 1000px;
    background-image:linear-gradient(#CECBC3 -2%,#FFFFFF 10%);
    margin-top: 7px;
}
.four{
    min-height: 35px;
    background-color: #160200;
}
.bottom{
    min-height:150px;
    background-image: linear-gradient(#A71704,#630E02);
}